
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  height: 1000px;
  width: 100%;
}

.colored-square {
  height: 15px;
  width: 15px;
  display: inline-block;
}

.legend {
  background-color: rgba(255, 255, 255, 0.87);
}